<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title Page-->
    <title>Admin- OneMovie</title>
    <!-- Fontfaces CSS-->
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="~/assets/admin/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="~/assets/admin/css/font-awesome.min.css" />
    <link href="~/assets/admin/css/PT.css" rel="stylesheet" />
    <link href="~/assets/admin/css/PT2.css" rel="stylesheet" />
    <!-- Bootstrap CSS-->
    <link href="~/assets/admin/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">


    <!-- Vendor CSS-->
    <link href="~/assets/admin/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/assets/admin/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/assets/admin/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <a class="logo" href="index.html">
                            <img src="~/assets/admin/images/icon/logo-blue.png" alt="CoolAdmin" />
                        </a>
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>

        </header>
        <!-- END HEADER MOBILE-->
        <!-- MENU SIDEBAR-->
        @RenderPage("_Menu.cshtml")

        <!-- END MENU SIDEBAR-->
        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">

                    <div class="container-fluid">
                        <div class="header-wrap">

                            <div class="header-button">
                                <div class="noti-wrap">
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-comment-more"></i>
                                        <span class="quantity">1</span>
                                        <div class="mess-dropdown js-dropdown">
                                            <div class="mess__title">
                                                <p>You have 2 news message</p>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="~/assets/admin/images/icon/avatar-06.jpg" alt="Michelle Moreno" />
                                                </div>
                                                <div class="content">
                                                    <h6>Michelle Moreno</h6>
                                                    <p>Have sent a photo</p>
                                                    <span class="time">3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="mess__item">
                                                <div class="image img-cir img-40">
                                                    <img src="~/assets/admin/images/icon/avatar-04.jpg" alt="Diane Myers" />
                                                </div>
                                                <div class="content">
                                                    <h6>Diane Myers</h6>
                                                    <p>You are now connected on message</p>
                                                    <span class="time">Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="mess__footer">
                                                <a href="#">View all messages</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-email"></i>
                                        <span class="quantity">1</span>
                                        <div class="email-dropdown js-dropdown">
                                            <div class="email__title">
                                                <p>You have 3 New Emails</p>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="~/assets/admin/images/icon/avatar-06.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, 3 min ago</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="~/assets/admin/images/icon/avatar-05.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, Yesterday</span>
                                                </div>
                                            </div>
                                            <div class="email__item">
                                                <div class="image img-cir img-40">
                                                    <img src="~/assets/admin/images/icon/avatar-04.jpg" alt="Cynthia Harvey" />
                                                </div>
                                                <div class="content">
                                                    <p>Meeting about new dashboard...</p>
                                                    <span>Cynthia Harvey, April 12,,2018</span>
                                                </div>
                                            </div>
                                            <div class="email__footer">
                                                <a href="#">See all emails</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="noti__item js-item-menu">
                                        <i class="zmdi zmdi-notifications"></i>
                                        <span class="quantity">3</span>
                                        <div class="notifi-dropdown js-dropdown">
                                            <div class="notifi__title">
                                                <p>You have 3 Notifications</p>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c1 img-cir img-40">
                                                    <i class="zmdi zmdi-email-open"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a email notification</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c2 img-cir img-40">
                                                    <i class="zmdi zmdi-account-box"></i>
                                                </div>
                                                <div class="content">
                                                    <p>Your account has been blocked</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__item">
                                                <div class="bg-c3 img-cir img-40">
                                                    <i class="zmdi zmdi-file-text"></i>
                                                </div>
                                                <div class="content">
                                                    <p>You got a new file</p>
                                                    <span class="date">April 12, 2018 06:50</span>
                                                </div>
                                            </div>
                                            <div class="notifi__footer">
                                                <a href="#">All notifications</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{
                                    var session = (MovieProject.Common.UserLogin)Session[MovieProject.Common.CommonContants.USER_SESSION];
                                }
                                @if (session == null)
                                {

                                }
                                else
                                {
                                    <div class="account-wrap">
                                        <div class="account-item clearfix js-item-menu">
                                            <div class="image">
                                                <img src="~/assets/web/images/admin.png" alt="" />
                                            </div>
                                            <div class="content">
                                                <a class="js-acc-btn" href="#">@session.UserName</a>
                                            </div>
                                            <div class="account-dropdown js-dropdown">
                                                <div class="info clearfix">
                                                    <div class="image">
                                                        <a href="#">
                                                            <img src="~/assets/web/images/admin.png" alt="John Doe" />
                                                        </a>
                                                    </div>
                                                    <div class="content">
                                                        <h5 class="name">
                                                            <a href="#">@session.UserName</a>
                                                        </h5>
                                                        <span class="email">badboylx98@gmail.com</span>
                                                    </div>
                                                </div>
                                                <div class="account-dropdown__body">
                                                    <div class="account-dropdown__item">
                                                    </div>
                                                    <div class="account-dropdown__footer">
                                                        @Html.ActionLink("Đăng Xuất","LogoutAD","User")
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                 
                                </div>
                            </div>
                        </div>
                    </div>

                </header>
            <!-- HEADER DESKTOP-->
            <!-- MAIN CONTENT-->
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->

                                    @RenderBody()



            <!-- Jquery JS-->
                                    <script src="/Scripts/jquery-1.10.2.js"></script>
                                    <script src="/Scripts/jquery-1.10.2.min.js"></script>
                                    @*<script src="/assets/admin/js/components_pagination.js"></script>*@

                                    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
            <!-- Bootstrap JS-->
                                    <script src="~/assets/admin/vendor/bootstrap-4.1/popper.min.js"></script>
                                    <script src="~/assets/admin/vendor/bootstrap-4.1/bootstrap.min.js"></script>
                                    <script src="~/assets/admin/js/bs_pagination.min.js"></script>
            <!-- Vendor JS       -->
                                    <script src="~/assets/admin/vendor/slick/slick.min.js">
                                    </script>
                                    <script src="~/assets/admin/vendor/wow/wow.min.js"></script>
                                    <script src="/assets/admin/vendor/animsition/animsition.min.js"></script>
                                    <script src="~/assets/admin/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
                                    <script src="~/assets/admin/vendor/counter-up/jquery.waypoints.min.js"></script>
                                    <script src="~/assets/admin/vendor/counter-up/jquery.counterup.min.js"></script>


                                    <script src="~/assets/admin/vendor/circle-progress/circle-progress.min.js"></script>
                                    <script src="~/assets/admin/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
                                    <script src="~/assets/admin/vendor/chartjs/Chart.bundle.min.js"></script>
                                    <script src="~/assets/admin/vendor/select2/select2.min.js"></script>

            <!-- Main JS-->
                                    <script src="~/assets/admin/js/main.js"></script>
                                    <script src="~/assets/admin/js/controller/search.js"></script>
                                    <script>
                                        $(document).ready(function () {
                                            $('#AlertBox').removeClass('hide');
                                            $('#AlertBox').delay(1000).slideUp(500);
                                        })
                                    </script>
                                    <script>
                                        function empty() {
                                            var x = $('#search-box').val();
                                            if (x == "" || x == null) {
                                                return false;
                                            }
                                        }
                                    </script>
                                    @RenderSection("jsFooter", required: false)
                                </div>



                            </div>
                        </body>

                    </html>
                    <!-- end document-->
