@using Models.EF;
@model PagedList.IPagedList<Movie>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";


}
@*@model IEnumerable<Movie>*@
@section jsFooter{
    <script src="~/assets/admin/js/controller/movieController.js"></script>
}




<div class="main-content">
    <center>
        <div>
            <h3 style="background-color:lavender">DANH SÁCH PHIM </h3>



        </div>
    </center>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <form class="form-header" action="" method="POST">

                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Tìm kiếm" class="au-input au-input--xl">
                </form>

            </div>
        </div>
        <div class="table-data__tool-right">


            <button onclick="Them()" type="button" class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Thêm mới</button>

            <a href="/Admin/Movie"><button class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="fa fa-refresh"></i>&nbsp;&nbsp;LÀM MỚI</button></a>


        </div>
    </div>

    <div class="table-responsive table--no-card m-b-30">
        <div class="table-responsive table-responsive-data2">
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                    @TempData["AlertMessage"]
                </div>
            }

            <table class="table table-data2" id="myTable">
                <thead>
                    <tr>

                        <th>Tên Phim</th>
                        <th>Ảnh</th>
                        <th>Ảnh xml</th>
                        <th>Diễn Viên</th>
                        <th>Mô Tả</th>
                        <th>Đạo Diễn</th>
                        <th>Thời Lượng</th>
                        <th>Năm </th>
                        <th>Link Phim</th>
                        <th>Link Trailer</th>
                        <th>Thể loại</th>
                        <th>Đánh Giá</th>
                        <th>Lượt Xem</th>
                        <th>Ngày Tạo</th>
                        <th>Trạng Thái</th>
                        <th>Top Hot</th>
                        <th>Quốc Gia</th>
                        <th>Chức năng</th>

                    </tr>
                </thead>
                <tbody>
                    @if (@Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr style="text-align:left;" id="row_@item.MovieID" class="tr-shadow">
                                <td style="display:none;">@item.MovieID</td>

                                <td class="tr-shadow">@item.Name</td>
                                <td class="tr-shadow"><img src="@item.Image" width="150" height="200" /></td>
                                <td class="tr-shadow">@item.MoreImages</td>
                                <td class="tr-shadow">@item.Actor</td>
                                <td class="tr-shadow"><textarea cols="20" rows="5" readonly>@Html.Raw(item.Description)</textarea></td>
                                <td class="tr-shadow">@item.Directors</td>
                                <td class="tr-shadow">@item.Time</td>
                                <td class="tr-shadow">@item.Year</td>
                                <td class="tr-shadow"><textarea cols="20" rows="5" readonly>@item.MovieLink</textarea></td>
                                <td class="tr-shadow"><textarea cols="20" rows="5" readonly>@item.TrailerLink</textarea></td>
                                <td class="tr-shadow">@item.CategoryID</td>
                                <td class="tr-shadow">@item.Rate</td>

                                <td class="tr-shadow">@item.Viewed</td>
                                <td class="tr-shadow">@item.CreatedDate</td>

                                <td class="tr-shadow"><a href="#" class="btn-active" data-id="@item.MovieID">@(item.Status ? "Kích hoạt" : "Huỷ Kích Hoạt")</a></td>
                                <td class="tr-shadow">@item.TopHot</td>
                                <td class="tr-shadow">@item.CountryID</td>

                                <td>
                                    <button type="button" onclick="Sua(this)" data-toggle="modal" data-target="#myModal" title="Sửa" class="btn btn-outline-success">
                                        <i class="fa fa-pencil">Sửa</i>
                                    </button>
                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn btn-outline-warning">
                                        <i class="fa fa-trash-o">
                                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.MovieID }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xoá bản ghi này?",
                                           OnComplete = "$('row_" + @item.MovieID + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </i>

                                    </button>
                                </td>
                            </tr>


                        }
                    }
                    </tbody>
            </table>
            <div class="content">
                <ul class="pagination modal-6" style="width:250px">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </ul>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_MovieModal")
<script>
    function Them() {
        SetNull();
        $("#bt_sua").hide();
        $("#bt_them").show();
    };
    function SetNull() {
        $("#NameAds").val('');
    };
    function Xoa(el) {
        var id = el.parentNode.parentNode.cells[0].textContent;
        $.ajax({
            url: '/Movie/delList/?id=' + id,
            type: 'POST',
            dataType: 'json',
            success: function () {
                alert("Xóa thành công");
                window.location.reload();
            },
            error: function () {
                alert("Xóa thất bại");
                window.location.reload();
            }
        });
    }
    function Sua(el) {
        event.preventDefault();
        $("#bt_sua").show();
        $("#bt_them").hide();
        var id = el.parentNode.parentNode.cells[0].textContent;
        $.ajax({
            url: '/Movie/getList/?id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var json = JSON.parse(data);
                $("#MovieID").val(json.MovieID);
                $("#Name").val(json.Name);
                $("#Image").val(json.Image);
                $("#MoreImages").val(json.MoreImages);
                $("#Actor").val(json.Actor);
                $("#Description").val(json.Description);
                CKEDITOR.instances['Description'].setData(json.Description);
                $("#Directors").val(json.Directors);
                $("#Time").val(json.Time);
                $("#Year").val(json.Year);
                $("#MovieLink").val(json.MovieLink);
                $("#TrailerLink").val(json.TrailerLink);
                $("#CategoryID").val(json.CategoryID);
                $("#Rate").val(json.Rate);
                $("#Viewed").val(json.Viewed);
                $("#Status").val(json.Status);
                $("#TopHot").val(json.TopHot);
                $("#CountryID").val(json.CountryID);
            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>






