
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Slides = (List<Models.EF.Slide>)ViewBag.Slides;
    var ListMovieNew = (List<Models.EF.Movie>)ViewBag.ListMovieNew;
    var ListMovieTop = (List<Models.EF.Movie>)ViewBag.ListMovieTop;
    var ListMoviePo = (List<Models.EF.Movie>)ViewBag.ListMoviePo;
}
@section slide{
    <!-- banner -->
    <div id="slidey" style="display:none;">
        <ul>
            @foreach (var item in Slides)
            {
                <li><img src="@item.Image" alt=" "><div><p class='title' with="250">@item.Name</p></div><p class='description'>@item.Description</p></li>

            }

        </ul>
    </div>
    <script src="~/assets/web/js/jquery.slidey.js"></script>
    <script src="~/assets/web/js/jquery.dotdotdot.min.js"></script>
    <script type="text/javascript">
        $("#slidey").slidey({
            interval: 8000,
            listCount: 5,
            autoplay: false,
            showList: true
        });
        $(".slidey-list-description").dotdotdot();
    </script>
    <!--End banner -->
}

<!-- banner-bottom -->
<div class="banner-bottom">
    <div class="container">
        <div class="w3_agile_banner_bottom_grid">
            <div id="owl-demo" class="owl-carousel owl-theme">
                @foreach (var s in ListMovieNew)
                {
                    <div class="item">
                        <div class="w3l-movie-gride-agile w3l-movie-gride-agile1">
                            <a href="/phim/@s.MovieID" class="hvr-shutter-out-horizontal">
                                <img src="@s.Image" title="album-name" class="img-responsive" alt="@s.Name" />
                                <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                            </a>
                            <div class="mid-1 agileits_w3layouts_mid_1_home">
                                <div class="w3l-movie-text">
                                    <h6><a href="#">@s.Name</a></h6>
                                </div>
                                <div class="mid-2 agile_mid_2_home">
                                    <p>@s.Year</p>
                                    <div class="block-stars">
                                        <ul class="w3l-ratings">
                                            <h5 style="font-size:12px;font-weight:bold;background-color:#E3B71E;border-radius:3px;padding:3px;"> Điểm IMDb: @s.Rate</h5>

                                        </ul>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="ribben">
                                <p>NEW</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- //banner-bottom -->
<!--Live Chat Facebook-->
<!-- general -->
<div class="general-agileits-w3l">
    <div class="w3l-medile-movies-grids">
        <div class="movie-browse-agile">
            <div class="browse-agile-w3ls general-w3ls">
                <h4 class="latest-text w3_latest_text">Phim nổi bật</h4>
                <div class="container">
                    <!-- /latest-movies1 -->
                    <div class="browse-inner-come-agile-w3">

                        @foreach (var m in ListMovieTop)
                        {
                            <div class="col-md-2 w3l-movie-gride-agile">
                                <a href="/phim/@m.MovieID" class="hvr-shutter-out-horizontal">

                                    <img src="@m.Image" title="album-name" alt="@m.Name" width="182" height="265" />
                                    <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                </a>
                                <div class="mid-1">
                                    <div class="w3l-movie-text">
                                        <h6><a href="#">@m.Name</a></h6>
                                    </div>
                                    <div class="mid-2">

                                        <p>@m.Year</p>

                                        <div class="block-stars">
                                            <ul class="w3l-ratings">
                                                <h5 style="font-size:12px;font-weight:bold;background-color:#E3B71E;border-radius:3px;padding:3px;"> Điểm IMDb: @m.Rate</h5>

                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>

                                </div>

                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                            }
<!-- //general -->
@*<div class="container">
        <center><img src="#" alt="HTML5 Icon" style="width:980px;height:100px;"></center>
    </div>*@
<!-- Latest-tv-series -->
<div class="Latest-tv-series">
    <h4 class="latest-text w3_latest_text w3_home_popular">Phim phổ biến nhất</h4>
    <div class="container">
        <section class="slider">
            <div class="flexslider">

                <ul class="slides">
                    <li>
                        <div class="agile_tv_series_grid">
                            <div class="clearfix"> </div>
                            <div class="agileinfo_flexislider_grids">
                                @foreach (var po in ListMoviePo)
                                {
                                    <div class="col-md-2 w3l-movie-gride-agile">
                                        <a href="/phim/@po.MovieID" class="hvr-shutter-out-horizontal">
                                            <img src="@po.Image" title="album-name" alt="@po.Name" width="182" height="268" />
                                            <div class="w3l-action-icon"><i class="fa fa-play-circle" aria-hidden="true"></i></div>
                                        </a>
                                        <div class="mid-1 agileits_w3layouts_mid_1_home">
                                            <div class="w3l-movie-text">
                                                <h6><a href="#">@po.Name</a></h6>
                                            </div>
                                            <div class="mid-2 agile_mid_2_home">
                                                <p>@po.Year</p>
                                                <div class="block-stars">
                                                    <ul class="w3l-ratings">
                                                        <h5 style="font-size:12px;font-weight:bold;background-color:#E3B71E;border-radius:3px;padding:3px;"> Điểm IMDb: @po.Rate</h5>

                                                    </ul>
                                                </div>
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"> </div>
                                }
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
        <!-- flexSlider -->
        <link rel="stylesheet" href="~/assets/web/css/flexslider.css" type="text/css" media="screen" property="" />
        <script defer src="~/assets/web/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
            $(window).load(function () {
                $('.flexslider').flexslider({
                    animation: "slide",
                    start: function (slider) {
                        $('body').removeClass('loading');
                    }
                });
            });
        </script>
        <!-- //flexSlider -->
    </div>
</div>
<!-- pop-up-box -->
<script src="~/assets/web/js/jquery.magnific-popup.js" type="text/javascript"></script>

<!--//pop-up-box -->
<!--Films-->
<div id="small-dialog" class="mfp-hide">
    <iframe src="https://player.vimeo.com/video/164819130?title=0&byline=0"></iframe>
</div>
<div id="small-dialog1" class="mfp-hide">
    <iframe src="https://player.vimeo.com/video/148284736"></iframe>
</div>
<div id="small-dialog2" class="mfp-hide">
    <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
</div>
<script>
            $(document).ready(function () {
                $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });

            });
</script>
<!-- //Latest-tv-series -->
