@using Models.EF;
@model PagedList.IPagedList<User>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";


}
@section jsFooter{
    <script src="~/assets/admin/js/controller/userController.js"></script>
}
<div class="main-content">

    <center>
        <div>
            <h3 style="background-color:lavender">DANH SÁCH NGƯỜI DÙNG </h3>
        </div>
    </center>
    <div class="table-data__tool">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                <form class="form-header" action="" method="POST">

                    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Tìm kiếm" class="au-input au-input--xl">
                </form>

            </div>
        </div>
        <div class="table-data__tool-right">


            <button onclick="Them()" type="button" class="au-btn au-btn-icon au-btn--green au-btn--small" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i>&nbsp;&nbsp;Thêm mới</button>

            <a href="/Admin/User"><button class="au-btn au-btn-icon au-btn--green au-btn--small"><i class="fa fa-refresh"></i>&nbsp;&nbsp;LÀM MỚI</button></a>


        </div>
    </div>

    <div class="table-responsive table--no-card m-b-30">
        <div class="table-responsive table-responsive-data2">
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide" role="alert">
                    @TempData["AlertMessage"]
                </div>
            }

            <table class="table table-data2" id="myTable">
                <thead>
                    <tr>

                        <th>Tên người dùng</th>
                        <th>Tài Khoản</th>
                        <th>Mật khẩu</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Ngày Tạo</th>
                        <th>Trạng Thái</th>
                        <th>Quyền</th>
                        <th>Chức năng</th>

                    </tr>
                </thead>
                <tbody>
                    @if (@Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr style="text-align:left;" id="row_@item.UserID" class="tr-shadow">
                                <td style="display:none;">@item.UserID</td>

                                <td class="tr-shadow">@item.Name</td>
                                <td class="tr-shadow">@item.UserName</td>
                                <td class="tr-shadow">@item.Password</td>
                                <td class="tr-shadow">@item.Email</td>
                                <td class="tr-shadow">@item.Phone</td>
                                <td class="tr-shadow">@item.CreatedDate</td>

                                <td class="tr-shadow">
                                    <a href="#" class="btn-default" data-id="@item.UserID">@(item.Status ? "Kích hoạt" : "Huỷ Kích Hoạt")</a>
                                </td>
                                <td class="tr-shadow">@item.GroupID</td>




                                <td>
                                    <button type="button" onclick="Sua(this)" data-toggle="modal" data-target="#myModal" title="Sửa" class="btn btn-outline-success">
                                        <i class="fa fa-pencil">Sửa</i>
                                    </button>
                                    &nbsp; &nbsp; &nbsp;
                                    <button class="btn btn-outline-warning">
                                        <i class="fa fa-trash-o">
                                            @Ajax.ActionLink("Xoá", "Delete", new { @id = item.UserID }, new AjaxOptions
                                       {
                                           Confirm = "Bạn có muốn xoá bản ghi này?",
                                           OnComplete = "$('row_" + @item.UserID + "').remove()",
                                           HttpMethod = "Delete"
                                       })
                                        </i>

                                    </button>
                                </td>
                            </tr>
                        }
                    }
            </table>
            <ul class="pagination modal-6" style="width:250px">

                <li> @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</li>

            </ul>
        </div>
    </div>
</div>

@*<div class="pagination-flat">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>*@
@Html.Partial("_UserModal")
<script>
    function Them() {
        SetNull();
        $("#bt_sua").hide();
        $("#bt_them").show();
    };
    function SetNull() {
        $("#NameAds").val('');
    };

    function Sua(el) {
        event.preventDefault();
        $("#bt_sua").show();
        $("#bt_them").hide();
        var id = el.parentNode.parentNode.cells[0].textContent;
        $.ajax({
            url: '/User/getList/?id=' + id,
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var json = JSON.parse(data);
                $("#UserID").val(json.UserID);
                $("#Name").val(json.Name);
                $("#UserName").val(json.UserName);
                $("#Password").val(json.Password);
                $("#Status").val(json.Status);
                $("#GroupID").val(json.GroupID);

            },
            error: function (err) {
                alert("Error: " + err.responseText);
            }
        });
    }
</script>


